<!DOCTYPE html>
<html>
    
    <head>
         <title>About</title>
        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Palash Anjania. It uses mapbox.com and darksky api to get weather information.</p>
        <img src="img/about.jpg" class="portrait">
        </div>
        
        {{>footer}}
    </body> 

</html>